Myrtaceae_Eugenia handroi_aoo_eoo.csv
Myrtaceae_Eugenia leptoclada_aoo_eoo.csv
Myrtaceae_Eugenia luschnathiana_aoo_eoo.csv
Myrtaceae_Eugenia macrantha_aoo_eoo.csv
Myrtaceae_Eugenia macrosperma_aoo_eoo.csv
Myrtaceae_Eugenia magnifica_aoo_eoo.csv
Myrtaceae_Eugenia mandioccensis_aoo_eoo.csv
Myrtaceae_Eugenia monosperma_aoo_eoo.csv
Myrtaceae_Eugenia neosilvestris_aoo_eoo.csv
Myrtaceae_Eugenia oeidocarpa_aoo_eoo.csv
Myrtaceae_Eugenia pantagensis_aoo_eoo.csv
Myrtaceae_Eugenia platyphylla_aoo_eoo.csv
Myrtaceae_Eugenia puberula_aoo_eoo.csv
Myrtaceae_Eugenia rosea_aoo_eoo.csv
Myrtaceae_Eugenia rostrifolia_aoo_eoo.csv
Myrtaceae_Eugenia schottiana_aoo_eoo.csv
Myrtaceae_Eugenia sphenophylla_aoo_eoo.csv
Myrtaceae_Eugenia sprengelii_aoo_eoo.csv
Myrtaceae_Eugenia supraaxillaris_aoo_eoo.csv
Myrtaceae_Eugenia umbrosa_aoo_eoo.csv
Myrtaceae_Eugenia xanthoxyloides_aoo_eoo.csv
Myrtaceae_Eugenia zuccarinii_aoo_eoo.csv
Myrtaceae_Marlierea polygama_aoo_eoo.csv
Myrtaceae_Marlierea teuscheriana_aoo_eoo.csv
Myrtaceae_Myrceugenia acutata_aoo_eoo.csv
Myrtaceae_Myrceugenia acutiflora_aoo_eoo.csv
Myrtaceae_Myrceugenia cucullata_aoo_eoo.csv
Myrtaceae_Myrceugenia mesomischa_aoo_eoo.csv
Myrtaceae_Myrcia eugeniopsoides_aoo_eoo.csv
Myrtaceae_Myrcia ferruginosa_aoo_eoo.csv
Myrtaceae_Myrcia multipunctata_aoo_eoo.csv
Myrtaceae_Myrcia vellozoi_aoo_eoo.csv
Myrtaceae_Myrciaria disticha_aoo_eoo.csv
Myrtaceae_Myrciaria ferruginea_aoo_eoo.csv
Myrtaceae_Myrciaria glomerata_aoo_eoo.csv
Myrtaceae_Myrciaria guaquiea_aoo_eoo.csv
Myrtaceae_Myrciaria pilosa_aoo_eoo.csv
Myrtaceae_Myrciaria strigipes_aoo_eoo.csv
Myrtaceae_Neomitranthes warmingiana_aoo_eoo.csv
Myrtaceae_Siphoneugena kiaerskoviana_aoo_eoo.csv
Nyctaginaceae_Andradea floribunda_aoo_eoo.csv
Nyctaginaceae_Ramisia brasiliensis_aoo_eoo.csv
Ochnaceae_Ouratea multiflora_aoo_eoo.csv
Ochnaceae_Ouratea polygyna_aoo_eoo.csv
Ochnaceae_Ouratea xerophila_aoo_eoo.csv
Olacaceae_Cathedra rubricaulis_aoo_eoo.csv
Olacaceae_Ximenia coriacea_aoo_eoo.csv
Peraceae_Pera furfuracea_aoo_eoo.csv
Phyllanthaceae_Phyllanthus riedelianus_aoo_eoo.csv
Picramniaceae_Picramnia excelsa_aoo_eoo.csv
Polygonaceae_Coccoloba oblonga_aoo_eoo.csv
Polygonaceae_Coccoloba schwackeana_aoo_eoo.csv
Primulaceae_Cybianthus goyazensis_aoo_eoo.csv
Primulaceae_Myrsine leuconeura_aoo_eoo.csv
Primulaceae_Myrsine rubra_aoo_eoo.csv
Proteaceae_Roupala longepetiolata_aoo_eoo.csv
Putranjivaceae_Drypetes sessiliflora_aoo_eoo.csv
Rhamnaceae_Ziziphus platyphylla_aoo_eoo.csv
Rhamnaceae_Ziziphus undulata_aoo_eoo.csv
Rubiaceae_Alseis latifolia_aoo_eoo.csv
Rubiaceae_Alseis sertaneja_aoo_eoo.csv
Rubiaceae_Appunia triphylla_aoo_eoo.csv
Rubiaceae_Bathysa mendoncaei_aoo_eoo.csv
Rubiaceae_Bathysa nicholsonii_aoo_eoo.csv
Rubiaceae_Calycophyllum papillosum_aoo_eoo.csv
Annonaceae_Ephedranthus pisocarpus_aoo_eoo.csv
Annonaceae_Unonopsis renatoi_aoo_eoo.csv
Apocynaceae_Aspidosperma camporum_aoo_eoo.csv
Apocynaceae_Aspidosperma dispermum_aoo_eoo.csv
Apocynaceae_Aspidosperma illustre_aoo_eoo.csv
Apocynaceae_Aspidosperma thomasii_aoo_eoo.csv
Apocynaceae_Lacmellea bahiensis_aoo_eoo.csv
Apocynaceae_Lacmellea pauciflora_aoo_eoo.csv
Apocynaceae_Rauvolfia atlantica_aoo_eoo.csv
Apocynaceae_Rauvolfia capixabae_aoo_eoo.csv
Aquifoliaceae_Ilex cerasifolia_aoo_eoo.csv
Aquifoliaceae_Ilex euryaeformis_aoo_eoo.csv
Aquifoliaceae_Ilex floribunda_aoo_eoo.csv
Aquifoliaceae_Ilex lundii_aoo_eoo.csv
Aquifoliaceae_Ilex sapotifolia_aoo_eoo.csv
Aquifoliaceae_Ilex velutina_aoo_eoo.csv
Araliaceae_Dendropanax brasiliensis_aoo_eoo.csv
Araliaceae_Dendropanax denticulatus_aoo_eoo.csv
Araliaceae_Dendropanax nebulosus_aoo_eoo.csv
Araliaceae_Schefflera burchellii_aoo_eoo.csv
Araliaceae_Schefflera longipetiolata_aoo_eoo.csv
Araliaceae_Schefflera selloi_aoo_eoo.csv
Asteraceae_Acritopappus prunifolius_aoo_eoo.csv
Asteraceae_Lychnophora rupestris_aoo_eoo.csv
Asteraceae_Lychnophora staavioides_aoo_eoo.csv
Asteraceae_Piptocarpha axillaris_aoo_eoo.csv
Asteraceae_Piptocarpha densifolia_aoo_eoo.csv
Asteraceae_Piptocarpha organensis_aoo_eoo.csv
Boraginaceae_Cordia aberrans_aoo_eoo.csv
Boraginaceae_Cordia anabaptista_aoo_eoo.csv
Burseraceae_Protium widgrenii_aoo_eoo.csv
Canellaceae_Cinnamodendron axillare_aoo_eoo.csv
Celastraceae_Monteverdia ardisiifolia_aoo_eoo.csv
Celastraceae_Monteverdia cestrifolia_aoo_eoo.csv
Celastraceae_Monteverdia glaucescens_aoo_eoo.csv
Celastraceae_Monteverdia littoralis_aoo_eoo.csv
Celastraceae_Monteverdia macrophylla_aoo_eoo.csv
Celastraceae_Monteverdia rigida_aoo_eoo.csv
Chrysobalanaceae_Couepia venosa_aoo_eoo.csv
Chrysobalanaceae_Licania nitida_aoo_eoo.csv
Clusiaceae_Clusia dardanoi_aoo_eoo.csv
Combretaceae_Terminalia eichleriana_aoo_eoo.csv
Combretaceae_Terminalia mameluco_aoo_eoo.csv
Combretaceae_Terminalia phaeocarpa_aoo_eoo.csv
Connaraceae_Connarus detersus_aoo_eoo.csv
Connaraceae_Connarus nodosus_aoo_eoo.csv
Dichapetalaceae_Stephanopodium blanchetianum_aoo_eoo.csv
Dichapetalaceae_Tapura lanceolata_aoo_eoo.csv
Ebenaceae_Diospyros brasiliensis_aoo_eoo.csv
Ebenaceae_Diospyros bullata_aoo_eoo.csv
Ebenaceae_Diospyros coccolobifolia_aoo_eoo.csv
Ebenaceae_Diospyros santaremnensis_aoo_eoo.csv
Ericaceae_Agarista glaberrima_aoo_eoo.csv
Ericaceae_Agarista revoluta_aoo_eoo.csv
Ericaceae_Gaylussacia salicifolia_aoo_eoo.csv
Erythroxylaceae_Erythroxylum affine_aoo_eoo.csv
Erythroxylaceae_Erythroxylum andrei_aoo_eoo.csv
Erythroxylaceae_Erythroxylum columbinum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum frangulifolium_aoo_eoo.csv
Erythroxylaceae_Erythroxylum grandifolium_aoo_eoo.csv
Erythroxylaceae_Erythroxylum hamigerum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum macrocalyx_aoo_eoo.csv
Erythroxylaceae_Erythroxylum nobile_aoo_eoo.csv
Erythroxylaceae_Erythroxylum ochranthum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum polygonoides_aoo_eoo.csv
Erythroxylaceae_Erythroxylum splendidum_aoo_eoo.csv
Euphorbiaceae_Actinostemon roselii_aoo_eoo.csv
Euphorbiaceae_Algernonia brasiliensis_aoo_eoo.csv
Euphorbiaceae_Algernonia riedelii_aoo_eoo.csv
Euphorbiaceae_Croton alchorneicarpus_aoo_eoo.csv
Euphorbiaceae_Croton hemiargyreus_aoo_eoo.csv
Euphorbiaceae_Croton sacaquinha_aoo_eoo.csv
Euphorbiaceae_Croton vulnerarius_aoo_eoo.csv
Euphorbiaceae_Gymnanthes gaudichaudii_aoo_eoo.csv
Euphorbiaceae_Joannesia heveoides_aoo_eoo.csv
Euphorbiaceae_Mabea glaziovii_aoo_eoo.csv
Euphorbiaceae_Sapium sellowianum_aoo_eoo.csv
Euphorbiaceae_Sebastiania jacobinensis_aoo_eoo.csv
Euphorbiaceae_Stillingia loranthacea_aoo_eoo.csv
Euphorbiaceae_Stillingia oppositifolia_aoo_eoo.csv
Euphorbiaceae_Tetrorchidium parvulum_aoo_eoo.csv
Fabaceae_Abarema campestris_aoo_eoo.csv
Fabaceae_Abarema langsdorffii_aoo_eoo.csv
Fabaceae_Abarema villosa_aoo_eoo.csv
Fabaceae_Acosmium lentiscifolium_aoo_eoo.csv
Fabaceae_Bauhinia bombaciflora_aoo_eoo.csv
Fabaceae_Bauhinia grandifolia_aoo_eoo.csv
Fabaceae_Bauhinia longipedicellata_aoo_eoo.csv
Fabaceae_Bauhinia ovata_aoo_eoo.csv
Fabaceae_Chamaecrista aspleniifolia_aoo_eoo.csv
Fabaceae_Chamaecrista blanchetii_aoo_eoo.csv
Fabaceae_Chamaecrista brachystachya_aoo_eoo.csv
Fabaceae_Chamaecrista confertiformis_aoo_eoo.csv
Fabaceae_Chamaecrista decora_aoo_eoo.csv
Fabaceae_Chamaecrista duartei_aoo_eoo.csv
Fabaceae_Chamaecrista hedysaroides_aoo_eoo.csv
Fabaceae_Copaifera sabulicola_aoo_eoo.csv
Fabaceae_Dalbergia acuta_aoo_eoo.csv
Fabaceae_Dalbergia decipularis_aoo_eoo.csv
Fabaceae_Dalbergia glaucescens_aoo_eoo.csv
Fabaceae_Erythrina speciosa_aoo_eoo.csv
Fabaceae_Exostyles venusta_aoo_eoo.csv
Fabaceae_Hymenaea altissima_aoo_eoo.csv
Fabaceae_Hymenaea aurea_aoo_eoo.csv
Fabaceae_Hymenaea fariana_aoo_eoo.csv
Fabaceae_Hymenaea longifolia_aoo_eoo.csv
Fabaceae_Hymenolobium alagoanum_aoo_eoo.csv
Fabaceae_Inga congesta_aoo_eoo.csv
Fabaceae_Inga schinifolia_aoo_eoo.csv
Fabaceae_Leptolobium bijugum_aoo_eoo.csv
Fabaceae_Leptolobium brachystachyum_aoo_eoo.csv
Fabaceae_Luetzelburgia purpurea_aoo_eoo.csv
Fabaceae_Machaerium incorruptibile_aoo_eoo.csv
Fabaceae_Machaerium ovalifolium_aoo_eoo.csv
Fabaceae_Macrolobium brevense_aoo_eoo.csv
Fabaceae_Macrolobium latifolium_aoo_eoo.csv
Fabaceae_Macrolobium rigidum_aoo_eoo.csv
Fabaceae_Mimosa adenotricha_aoo_eoo.csv
Fabaceae_Mimosa dichroa_aoo_eoo.csv
Fabaceae_Mimosa laticifera_aoo_eoo.csv
Fabaceae_Mimosa pteridifolia_aoo_eoo.csv
Fabaceae_Mimosa schomburgkii_aoo_eoo.csv
Fabaceae_Mimosa sericantha_aoo_eoo.csv
Fabaceae_Mora paraensis_aoo_eoo.csv
Fabaceae_Ormosia minor_aoo_eoo.csv
Fabaceae_Parapiptadenia blanchetii_aoo_eoo.csv
Fabaceae_Piptadenia macradenia_aoo_eoo.csv
Fabaceae_Poecilanthe grandiflora_aoo_eoo.csv
Fabaceae_Poecilanthe itapuana_aoo_eoo.csv
Fabaceae_Pterodon apparicioi_aoo_eoo.csv
Fabaceae_Senegalia harleyi_aoo_eoo.csv
Fabaceae_Senegalia piauhiensis_aoo_eoo.csv
Fabaceae_Senna reniformis_aoo_eoo.csv
Fabaceae_Staminodianthus rosae_aoo_eoo.csv
Fabaceae_Swartzia arumateuana_aoo_eoo.csv
Fabaceae_Swartzia corrugata_aoo_eoo.csv
Fabaceae_Swartzia longistipitata_aoo_eoo.csv
Fabaceae_Swartzia oblata_aoo_eoo.csv
Fabaceae_Swartzia parvipetala_aoo_eoo.csv
Fabaceae_Swartzia pilulifera_aoo_eoo.csv
Fabaceae_Swartzia polita_aoo_eoo.csv
Fabaceae_Swartzia psilonema_aoo_eoo.csv
Fabaceae_Tachigali goeldiana_aoo_eoo.csv
Fabaceae_Tachigali rubiginosa_aoo_eoo.csv
Gentianaceae_Macrocarpaea glaziovii_aoo_eoo.csv
Humiriaceae_Humiriastrum mussungense_aoo_eoo.csv
Humiriaceae_Vantanea bahiaensis_aoo_eoo.csv
Hypericaceae_Vismia atlantica_aoo_eoo.csv
Hypericaceae_Vismia cauliflora_aoo_eoo.csv
Hypericaceae_Vismia magnoliifolia_aoo_eoo.csv
Hypericaceae_Vismia micrantha_aoo_eoo.csv
Lacistemataceae_Lacistema serrulatum_aoo_eoo.csv
Lamiaceae_Cyanocephalus lippioides_aoo_eoo.csv
Lamiaceae_Vitex mexiae_aoo_eoo.csv
Lamiaceae_Vitex spongiocarpa_aoo_eoo.csv
Lauraceae_Aniba viridis_aoo_eoo.csv
Lauraceae_Beilschmiedia emarginata_aoo_eoo.csv
Lauraceae_Beilschmiedia taubertiana_aoo_eoo.csv
Lauraceae_Cinnamomum glaziovii_aoo_eoo.csv
Lauraceae_Cryptocarya micrantha_aoo_eoo.csv
Lauraceae_Cryptocarya riedeliana_aoo_eoo.csv
Lauraceae_Endlicheria glomerata_aoo_eoo.csv
Lauraceae_Nectandra leucantha_aoo_eoo.csv
Lauraceae_Ocotea arenicola_aoo_eoo.csv
Lauraceae_Ocotea argentea_aoo_eoo.csv
Lauraceae_Ocotea insignis_aoo_eoo.csv
Lauraceae_Ocotea kostermanniana_aoo_eoo.csv
Lauraceae_Ocotea microbotrys_aoo_eoo.csv
Lauraceae_Ocotea montana_aoo_eoo.csv
Lauraceae_Ocotea oppositifolia_aoo_eoo.csv
Lauraceae_Ocotea pluridomatiata_aoo_eoo.csv
Lauraceae_Ocotea pulchra_aoo_eoo.csv
Lauraceae_Ocotea teleiandra_aoo_eoo.csv
Lauraceae_Ocotea tenuiflora_aoo_eoo.csv
Lauraceae_Ocotea urbaniana_aoo_eoo.csv
Lauraceae_Ocotea venulosa_aoo_eoo.csv
Lauraceae_Ocotea villosa_aoo_eoo.csv
Lauraceae_Persea alba_aoo_eoo.csv
Lauraceae_Persea aurata_aoo_eoo.csv
Lauraceae_Persea caesia_aoo_eoo.csv
Malpighiaceae_Byrsonima myricifolia_aoo_eoo.csv
Malpighiaceae_Byrsonima nitidifolia_aoo_eoo.csv
Malpighiaceae_Byrsonima perseifolia_aoo_eoo.csv
Malpighiaceae_Heteropterys sincorensis_aoo_eoo.csv
Malpighiaceae_Ptilochaeta glabra_aoo_eoo.csv
Malvaceae_Ceiba crispiflora_aoo_eoo.csv
Malvaceae_Ceiba glaziovii_aoo_eoo.csv
Malvaceae_Eriotheca pentaphylla_aoo_eoo.csv
Malvaceae_Helicteres macropetala_aoo_eoo.csv
Malvaceae_Mollia burchellii_aoo_eoo.csv
Malvaceae_Pavonia calyculosa_aoo_eoo.csv
Malvaceae_Pavonia makoyana_aoo_eoo.csv
Malvaceae_Pseudobombax petropolitanum_aoo_eoo.csv
Malvaceae_Pterygota brasiliensis_aoo_eoo.csv
Malvaceae_Quararibea ochrocalyx_aoo_eoo.csv
Melastomataceae_Behuria insignis_aoo_eoo.csv
Melastomataceae_Huberia consimilis_aoo_eoo.csv
Melastomataceae_Huberia glazioviana_aoo_eoo.csv
Melastomataceae_Lavoisiera nervulosa_aoo_eoo.csv
Melastomataceae_Leandra cogniauxii_aoo_eoo.csv
Melastomataceae_Leandra fallacissima_aoo_eoo.csv
Melastomataceae_Leandra lancifolia_aoo_eoo.csv
Melastomataceae_Leandra pennipilis_aoo_eoo.csv
Melastomataceae_Leandra pilonensis_aoo_eoo.csv
Melastomataceae_Leandra umbellata_aoo_eoo.csv
Melastomataceae_Macairea theresiae_aoo_eoo.csv
Melastomataceae_Meriania calophylla_aoo_eoo.csv
Melastomataceae_Meriania claussenii_aoo_eoo.csv
Melastomataceae_Meriania paniculata_aoo_eoo.csv
Melastomataceae_Merianthera sipolisii_aoo_eoo.csv
Melastomataceae_Miconia brunnea_aoo_eoo.csv
Melastomataceae_Miconia formosa_aoo_eoo.csv
Melastomataceae_Miconia goldenbergiana_aoo_eoo.csv
Melastomataceae_Miconia irwinii_aoo_eoo.csv
Melastomataceae_Miconia nordestina_aoo_eoo.csv
Melastomataceae_Miconia tentaculifera_aoo_eoo.csv
Melastomataceae_Miconia urophylla_aoo_eoo.csv
Melastomataceae_Mouriri arborea_aoo_eoo.csv
Melastomataceae_Mouriri cearensis_aoo_eoo.csv
Melastomataceae_Mouriri chamissoana_aoo_eoo.csv
Melastomataceae_Pleroma candolleanum_aoo_eoo.csv
Melastomataceae_Pleroma fissinervium_aoo_eoo.csv
Melastomataceae_Tibouchina barnebyana_aoo_eoo.csv
Melastomataceae_Tibouchina canescens_aoo_eoo.csv
Melastomataceae_Tibouchina francavillana_aoo_eoo.csv
Melastomataceae_Tibouchina regnellii_aoo_eoo.csv
Melastomataceae_Trembleya pentagona_aoo_eoo.csv
Meliaceae_Guarea blanchetii_aoo_eoo.csv
Metteniusaceae_Emmotum harleyi_aoo_eoo.csv
Monimiaceae_Macropeplus dentatus_aoo_eoo.csv
Monimiaceae_Mollinedia longifolia_aoo_eoo.csv
Moraceae_Ficus holosericea_aoo_eoo.csv
Moraceae_Ficus lagoensis_aoo_eoo.csv
Moraceae_Ficus organensis_aoo_eoo.csv
Myristicaceae_Virola officinalis_aoo_eoo.csv
Myrtaceae_Calyptranthes grandiflora_aoo_eoo.csv
Myrtaceae_Calyptranthes obovata_aoo_eoo.csv
Myrtaceae_Calyptranthes rufa_aoo_eoo.csv
Myrtaceae_Calyptranthes spruceana_aoo_eoo.csv
Myrtaceae_Campomanesia simulans_aoo_eoo.csv
Myrtaceae_Curitiba prismatica_aoo_eoo.csv
Myrtaceae_Eugenia acutata_aoo_eoo.csv
Myrtaceae_Eugenia arenaria_aoo_eoo.csv
Myrtaceae_Eugenia bacopari_aoo_eoo.csv
Myrtaceae_Eugenia beaurepairiana_aoo_eoo.csv
Myrtaceae_Eugenia capitulifera_aoo_eoo.csv
Myrtaceae_Eugenia capparidifolia_aoo_eoo.csv
Myrtaceae_Eugenia chlorophylla_aoo_eoo.csv
Myrtaceae_Eugenia dichroma_aoo_eoo.csv
Myrtaceae_Eugenia ellipsoidea_aoo_eoo.csv
Myrtaceae_Eugenia expansa_aoo_eoo.csv
Myrtaceae_Eugenia flamingensis_aoo_eoo.csv
Fabaceae_Acosmium diffusissimum_aoo_eoo.csv
Fabaceae_Aeschynomene monteiroi_aoo_eoo.csv
Fabaceae_Androcalymma glabrifolium_aoo_eoo.csv
Fabaceae_Bauhinia aureopunctata_aoo_eoo.csv
Fabaceae_Bauhinia bicolor_aoo_eoo.csv
Fabaceae_Bauhinia membranacea_aoo_eoo.csv
Fabaceae_Calliandra duckei_aoo_eoo.csv
Fabaceae_Cenostigma nordestinum_aoo_eoo.csv
Fabaceae_Chamaecrista amabilis_aoo_eoo.csv
Fabaceae_Chamaecrista amorimii_aoo_eoo.csv
Fabaceae_Chamaecrista celiae_aoo_eoo.csv
Fabaceae_Chamaecrista fulgida_aoo_eoo.csv
Fabaceae_Chamaecrista machaeriifolia_aoo_eoo.csv
Fabaceae_Chamaecrista nuda_aoo_eoo.csv
Fabaceae_Chamaecrista pteropoda_aoo_eoo.csv
Fabaceae_Chamaecrista spinulosa_aoo_eoo.csv
Fabaceae_Chamaecrista subpeltata_aoo_eoo.csv
Fabaceae_Chamaecrista unijuga_aoo_eoo.csv
Fabaceae_Copaifera cearensis_aoo_eoo.csv
Fabaceae_Copaifera piresii_aoo_eoo.csv
Fabaceae_Coursetia vicioides_aoo_eoo.csv
Fabaceae_Cynometra macrocarpa_aoo_eoo.csv
Fabaceae_Cynometra marleneae_aoo_eoo.csv
Fabaceae_Dicymbe amazonica_aoo_eoo.csv
Fabaceae_Dicymbe arenicola_aoo_eoo.csv
Fabaceae_Dimorphandra parviflora_aoo_eoo.csv
Fabaceae_Erythrostemon calycina_aoo_eoo.csv
Fabaceae_Hymenaea cangaceira_aoo_eoo.csv
Fabaceae_Leptolobium multijugum_aoo_eoo.csv
Fabaceae_Lonchocarpus praecox_aoo_eoo.csv
Fabaceae_Luetzelburgia amazonica_aoo_eoo.csv
Fabaceae_Luetzelburgia neurocarpa_aoo_eoo.csv
Fabaceae_Machaerium caratinganum_aoo_eoo.csv
Fabaceae_Macrolobium urupaense_aoo_eoo.csv
Fabaceae_Mimosa bispiculata_aoo_eoo.csv
Fabaceae_Mimosa capito_aoo_eoo.csv
Fabaceae_Mimosa dominarum_aoo_eoo.csv
Fabaceae_Mimosa gardneri_aoo_eoo.csv
Fabaceae_Mimosa hebecarpa_aoo_eoo.csv
Fabaceae_Mimosa neonitens_aoo_eoo.csv
Fabaceae_Mimosa rheiptera_aoo_eoo.csv
Fabaceae_Mimosa sobralii_aoo_eoo.csv
Fabaceae_Mimosa urandiensis_aoo_eoo.csv
Fabaceae_Muellera nitens_aoo_eoo.csv
Fabaceae_Ormosia limae_aoo_eoo.csv
Fabaceae_Ormosia timboensis_aoo_eoo.csv
Fabaceae_Paubrasilia echinata_aoo_eoo.csv
Fabaceae_Peltogyne excelsa_aoo_eoo.csv
Fabaceae_Piptadenia loefgreniana_aoo_eoo.csv
Fabaceae_Pterocarpus monophyllus_aoo_eoo.csv
Fabaceae_Pterocarpus ternatus_aoo_eoo.csv
Fabaceae_Senegalia giganticarpa_aoo_eoo.csv
Fabaceae_Senegalia ricoae_aoo_eoo.csv
Fabaceae_Stryphnodendron duckeanum_aoo_eoo.csv
Fabaceae_Swartzia alagoensis_aoo_eoo.csv
Fabaceae_Swartzia arenophila_aoo_eoo.csv
Rubiaceae_Chimarrhis barbata_aoo_eoo.csv
Rubiaceae_Chomelia parviflora_aoo_eoo.csv
Rubiaceae_Chomelia parvifolia_aoo_eoo.csv
Rubiaceae_Chomelia pedunculosa_aoo_eoo.csv
Rubiaceae_Coussarea accedens_aoo_eoo.csv
Rubiaceae_Coussarea andrei_aoo_eoo.csv
Rubiaceae_Coussarea capitata_aoo_eoo.csv
Rubiaceae_Coussarea congestiflora_aoo_eoo.csv
Rubiaceae_Coussarea leptopus_aoo_eoo.csv
Rubiaceae_Coussarea megistophylla_aoo_eoo.csv
Rubiaceae_Coussarea verticillata_aoo_eoo.csv
Rubiaceae_Faramea bicolor_aoo_eoo.csv
Rubiaceae_Faramea biflora_aoo_eoo.csv
Rubiaceae_Faramea martiana_aoo_eoo.csv
Rubiaceae_Faramea oligantha_aoo_eoo.csv
Rubiaceae_Faramea truncata_aoo_eoo.csv
Rubiaceae_Isertia longifolia_aoo_eoo.csv
Rubiaceae_Ixora martinsii_aoo_eoo.csv
Rubiaceae_Ixora schottiana_aoo_eoo.csv
Rubiaceae_Ixora truncata_aoo_eoo.csv
Rubiaceae_Kerianthera longiflora_aoo_eoo.csv
Rubiaceae_Palicourea forsteronioides_aoo_eoo.csv
Rubiaceae_Palicourea malaneoides_aoo_eoo.csv
Rubiaceae_Palicourea minutiflora_aoo_eoo.csv
Rubiaceae_Platycarpum egleri_aoo_eoo.csv
Rubiaceae_Platycarpum froesii_aoo_eoo.csv
Rubiaceae_Psychotria alto-macahensis_aoo_eoo.csv
Rubiaceae_Psychotria glaziovii_aoo_eoo.csv
Rubiaceae_Psychotria lagoensis_aoo_eoo.csv
Rubiaceae_Psychotria subspathulata_aoo_eoo.csv
Rubiaceae_Remijia asperula_aoo_eoo.csv
Rubiaceae_Rudgea coriacea_aoo_eoo.csv
Rubiaceae_Rudgea jacobinensis_aoo_eoo.csv
Rubiaceae_Rudgea mouririoides_aoo_eoo.csv
Rubiaceae_Rudgea nodosa_aoo_eoo.csv
Rubiaceae_Rudgea obtusa_aoo_eoo.csv
Rubiaceae_Rudgea recurva_aoo_eoo.csv
Rubiaceae_Schradera brasiliensis_aoo_eoo.csv
Rubiaceae_Sphinctanthus acutilobus_aoo_eoo.csv
Rubiaceae_Stachyarrhena harleyi_aoo_eoo.csv
Rutaceae_Angostura quinquefolia_aoo_eoo.csv
Rutaceae_Conchocarpus diadematus_aoo_eoo.csv
Rutaceae_Conchocarpus fontanesianus_aoo_eoo.csv
Rutaceae_Conchocarpus santosii_aoo_eoo.csv
Rutaceae_Esenbeckia decidua_aoo_eoo.csv
Rutaceae_Esenbeckia oligantha_aoo_eoo.csv
Rutaceae_Galipea congestiflora_aoo_eoo.csv
Rutaceae_Galipea laxiflora_aoo_eoo.csv
Rutaceae_Galipea revoluta_aoo_eoo.csv
Rutaceae_Helietta glaziovii_aoo_eoo.csv
Rutaceae_Hortia longifolia_aoo_eoo.csv
Rutaceae_Neoraputia trifoliata_aoo_eoo.csv
Rutaceae_Pilocarpus grandiflorus_aoo_eoo.csv
Rutaceae_Pilocarpus sulcatus_aoo_eoo.csv
Rutaceae_Ravenia infelix_aoo_eoo.csv
Rutaceae_Ticorea froesii_aoo_eoo.csv
Rutaceae_Zanthoxylum djalma-batistae_aoo_eoo.csv
Rutaceae_Zanthoxylum gardneri_aoo_eoo.csv
Rutaceae_Zanthoxylum kleinii_aoo_eoo.csv
Rutaceae_Zanthoxylum nemorale_aoo_eoo.csv
Rutaceae_Zanthoxylum retusum_aoo_eoo.csv
Salicaceae_Casearia oblongifolia_aoo_eoo.csv
Salicaceae_Casearia selloana_aoo_eoo.csv
Sapindaceae_Cupania tenuivalvis_aoo_eoo.csv
Sapindaceae_Diatenopteryx grazielae_aoo_eoo.csv
Sapindaceae_Matayba livescens Souza_aoo_eoo.csv
Sapindaceae_Matayba mollis_aoo_eoo.csv
Sapindaceae_Toulicia crassifolia_aoo_eoo.csv
Sapindaceae_Toulicia subsquamulata_aoo_eoo.csv
Simaroubaceae_Homalolepis cuneata_aoo_eoo.csv
Simaroubaceae_Homalolepis ferruginea_aoo_eoo.csv
Siparunaceae_Siparuna cymosa_aoo_eoo.csv
Solanaceae_Cestrum corcovadense_aoo_eoo.csv
Solanaceae_Cestrum subpulverulentum_aoo_eoo.csv
Solanaceae_Solanum castaneum_aoo_eoo.csv
Solanaceae_Solanum falciforme_aoo_eoo.csv
Solanaceae_Solanum sellowianum_aoo_eoo.csv
Styracaceae_Styrax latifolius_aoo_eoo.csv
Styracaceae_Styrax pedicellatus_aoo_eoo.csv
Symplocaceae_Symplocos nitidiflora_aoo_eoo.csv
Symplocaceae_Symplocos pentandra_aoo_eoo.csv
Symplocaceae_Symplocos platyphylla_aoo_eoo.csv
Symplocaceae_Symplocos pustulosa_aoo_eoo.csv
Thymelaeaceae_Daphnopsis brasiliensis_aoo_eoo.csv
Thymelaeaceae_Daphnopsis coriacea_aoo_eoo.csv
Thymelaeaceae_Daphnopsis martii_aoo_eoo.csv
Thymelaeaceae_Daphnopsis pseudosalix_aoo_eoo.csv
Thymelaeaceae_Daphnopsis schwackeana_aoo_eoo.csv
Thymelaeaceae_Daphnopsis utilis_aoo_eoo.csv
Urticaceae_Coussapoa pachyphylla_aoo_eoo.csv
Urticaceae_Coussapoa sprucei_aoo_eoo.csv
Vochysiaceae_Qualea ingens_aoo_eoo.csv
Vochysiaceae_Vochysia discolor_aoo_eoo.csv
Vochysiaceae_Vochysia lucida_aoo_eoo.csv
Vochysiaceae_Vochysia oppugnata_aoo_eoo.csv
Vochysiaceae_Vochysia saldanhana_aoo_eoo.csv
