Myrtaceae_Eugenia handroi_aoo_eoo.csv
Myrtaceae_Eugenia leptoclada_aoo_eoo.csv
Myrtaceae_Eugenia luschnathiana_aoo_eoo.csv
Myrtaceae_Eugenia macrantha_aoo_eoo.csv
Myrtaceae_Eugenia macrosperma_aoo_eoo.csv
Myrtaceae_Eugenia magnifica_aoo_eoo.csv
Myrtaceae_Eugenia mandioccensis_aoo_eoo.csv
Myrtaceae_Eugenia monosperma_aoo_eoo.csv
Myrtaceae_Eugenia neosilvestris_aoo_eoo.csv
Myrtaceae_Eugenia oeidocarpa_aoo_eoo.csv
Myrtaceae_Eugenia pantagensis_aoo_eoo.csv
Myrtaceae_Eugenia platyphylla_aoo_eoo.csv
Myrtaceae_Eugenia puberula_aoo_eoo.csv
Myrtaceae_Eugenia rosea_aoo_eoo.csv
Myrtaceae_Eugenia rostrifolia_aoo_eoo.csv
Myrtaceae_Eugenia schottiana_aoo_eoo.csv
Myrtaceae_Eugenia sphenophylla_aoo_eoo.csv
Myrtaceae_Eugenia sprengelii_aoo_eoo.csv
Myrtaceae_Eugenia supraaxillaris_aoo_eoo.csv
Myrtaceae_Eugenia umbrosa_aoo_eoo.csv
Myrtaceae_Eugenia xanthoxyloides_aoo_eoo.csv
Myrtaceae_Eugenia zuccarinii_aoo_eoo.csv
Myrtaceae_Marlierea polygama_aoo_eoo.csv
Myrtaceae_Marlierea teuscheriana_aoo_eoo.csv
Myrtaceae_Myrceugenia acutata_aoo_eoo.csv
Myrtaceae_Myrceugenia acutiflora_aoo_eoo.csv
Myrtaceae_Myrceugenia cucullata_aoo_eoo.csv
Myrtaceae_Myrceugenia mesomischa_aoo_eoo.csv
Myrtaceae_Myrcia eugeniopsoides_aoo_eoo.csv
Myrtaceae_Myrcia ferruginosa_aoo_eoo.csv
Myrtaceae_Myrcia multipunctata_aoo_eoo.csv
Myrtaceae_Myrcia vellozoi_aoo_eoo.csv
Myrtaceae_Myrciaria disticha_aoo_eoo.csv
Myrtaceae_Myrciaria ferruginea_aoo_eoo.csv
Myrtaceae_Myrciaria glomerata_aoo_eoo.csv
Myrtaceae_Myrciaria guaquiea_aoo_eoo.csv
Myrtaceae_Myrciaria pilosa_aoo_eoo.csv
Myrtaceae_Myrciaria strigipes_aoo_eoo.csv
Myrtaceae_Neomitranthes warmingiana_aoo_eoo.csv
Myrtaceae_Siphoneugena kiaerskoviana_aoo_eoo.csv
Nyctaginaceae_Andradea floribunda_aoo_eoo.csv
Nyctaginaceae_Ramisia brasiliensis_aoo_eoo.csv
Ochnaceae_Ouratea multiflora_aoo_eoo.csv
Ochnaceae_Ouratea polygyna_aoo_eoo.csv
Ochnaceae_Ouratea xerophila_aoo_eoo.csv
Olacaceae_Cathedra rubricaulis_aoo_eoo.csv
Olacaceae_Ximenia coriacea_aoo_eoo.csv
Peraceae_Pera furfuracea_aoo_eoo.csv
Phyllanthaceae_Phyllanthus riedelianus_aoo_eoo.csv
Picramniaceae_Picramnia excelsa_aoo_eoo.csv
Polygonaceae_Coccoloba oblonga_aoo_eoo.csv
Polygonaceae_Coccoloba schwackeana_aoo_eoo.csv
Primulaceae_Cybianthus goyazensis_aoo_eoo.csv
Primulaceae_Myrsine leuconeura_aoo_eoo.csv
Primulaceae_Myrsine rubra_aoo_eoo.csv
Proteaceae_Roupala longepetiolata_aoo_eoo.csv
Putranjivaceae_Drypetes sessiliflora_aoo_eoo.csv
Rhamnaceae_Ziziphus platyphylla_aoo_eoo.csv
Rhamnaceae_Ziziphus undulata_aoo_eoo.csv
Rubiaceae_Alseis latifolia_aoo_eoo.csv
Rubiaceae_Alseis sertaneja_aoo_eoo.csv
Rubiaceae_Appunia triphylla_aoo_eoo.csv
Rubiaceae_Bathysa mendoncaei_aoo_eoo.csv
Rubiaceae_Bathysa nicholsonii_aoo_eoo.csv
Rubiaceae_Calycophyllum papillosum_aoo_eoo.csv
Annonaceae_Ephedranthus pisocarpus_aoo_eoo.csv
Annonaceae_Unonopsis renatoi_aoo_eoo.csv
Apocynaceae_Aspidosperma camporum_aoo_eoo.csv
Apocynaceae_Aspidosperma dispermum_aoo_eoo.csv
Apocynaceae_Aspidosperma illustre_aoo_eoo.csv
Apocynaceae_Aspidosperma thomasii_aoo_eoo.csv
Apocynaceae_Lacmellea bahiensis_aoo_eoo.csv
Apocynaceae_Lacmellea pauciflora_aoo_eoo.csv
Apocynaceae_Rauvolfia atlantica_aoo_eoo.csv
Apocynaceae_Rauvolfia capixabae_aoo_eoo.csv
Aquifoliaceae_Ilex cerasifolia_aoo_eoo.csv
Aquifoliaceae_Ilex euryaeformis_aoo_eoo.csv
Aquifoliaceae_Ilex floribunda_aoo_eoo.csv
Aquifoliaceae_Ilex lundii_aoo_eoo.csv
Aquifoliaceae_Ilex sapotifolia_aoo_eoo.csv
Aquifoliaceae_Ilex velutina_aoo_eoo.csv
Araliaceae_Dendropanax brasiliensis_aoo_eoo.csv
Araliaceae_Dendropanax denticulatus_aoo_eoo.csv
Araliaceae_Dendropanax nebulosus_aoo_eoo.csv
Araliaceae_Schefflera burchellii_aoo_eoo.csv
Araliaceae_Schefflera longipetiolata_aoo_eoo.csv
Araliaceae_Schefflera selloi_aoo_eoo.csv
Asteraceae_Acritopappus prunifolius_aoo_eoo.csv
Asteraceae_Lychnophora rupestris_aoo_eoo.csv
Asteraceae_Lychnophora staavioides_aoo_eoo.csv
Asteraceae_Piptocarpha axillaris_aoo_eoo.csv
Asteraceae_Piptocarpha densifolia_aoo_eoo.csv
Asteraceae_Piptocarpha organensis_aoo_eoo.csv
Boraginaceae_Cordia aberrans_aoo_eoo.csv
Boraginaceae_Cordia anabaptista_aoo_eoo.csv
Burseraceae_Protium widgrenii_aoo_eoo.csv
Canellaceae_Cinnamodendron axillare_aoo_eoo.csv
Celastraceae_Monteverdia ardisiifolia_aoo_eoo.csv
Celastraceae_Monteverdia cestrifolia_aoo_eoo.csv
Celastraceae_Monteverdia glaucescens_aoo_eoo.csv
Celastraceae_Monteverdia littoralis_aoo_eoo.csv
Celastraceae_Monteverdia macrophylla_aoo_eoo.csv
Celastraceae_Monteverdia rigida_aoo_eoo.csv
Chrysobalanaceae_Couepia venosa_aoo_eoo.csv
Chrysobalanaceae_Licania nitida_aoo_eoo.csv
Clusiaceae_Clusia dardanoi_aoo_eoo.csv
Combretaceae_Terminalia eichleriana_aoo_eoo.csv
Combretaceae_Terminalia mameluco_aoo_eoo.csv
Combretaceae_Terminalia phaeocarpa_aoo_eoo.csv
Connaraceae_Connarus detersus_aoo_eoo.csv
Connaraceae_Connarus nodosus_aoo_eoo.csv
Dichapetalaceae_Stephanopodium blanchetianum_aoo_eoo.csv
Dichapetalaceae_Tapura lanceolata_aoo_eoo.csv
Ebenaceae_Diospyros brasiliensis_aoo_eoo.csv
Ebenaceae_Diospyros bullata_aoo_eoo.csv
Ebenaceae_Diospyros coccolobifolia_aoo_eoo.csv
Ebenaceae_Diospyros santaremnensis_aoo_eoo.csv
Ericaceae_Agarista glaberrima_aoo_eoo.csv
Ericaceae_Agarista revoluta_aoo_eoo.csv
Ericaceae_Gaylussacia salicifolia_aoo_eoo.csv
Erythroxylaceae_Erythroxylum affine_aoo_eoo.csv
Erythroxylaceae_Erythroxylum andrei_aoo_eoo.csv
Erythroxylaceae_Erythroxylum columbinum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum frangulifolium_aoo_eoo.csv
Erythroxylaceae_Erythroxylum grandifolium_aoo_eoo.csv
Erythroxylaceae_Erythroxylum hamigerum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum macrocalyx_aoo_eoo.csv
Erythroxylaceae_Erythroxylum nobile_aoo_eoo.csv
Erythroxylaceae_Erythroxylum ochranthum_aoo_eoo.csv
Erythroxylaceae_Erythroxylum polygonoides_aoo_eoo.csv
Erythroxylaceae_Erythroxylum splendidum_aoo_eoo.csv
Euphorbiaceae_Actinostemon roselii_aoo_eoo.csv
Euphorbiaceae_Algernonia brasiliensis_aoo_eoo.csv
Euphorbiaceae_Algernonia riedelii_aoo_eoo.csv
Euphorbiaceae_Croton alchorneicarpus_aoo_eoo.csv
Euphorbiaceae_Croton hemiargyreus_aoo_eoo.csv
Euphorbiaceae_Croton sacaquinha_aoo_eoo.csv
Euphorbiaceae_Croton vulnerarius_aoo_eoo.csv
Euphorbiaceae_Gymnanthes gaudichaudii_aoo_eoo.csv
Euphorbiaceae_Joannesia heveoides_aoo_eoo.csv
Euphorbiaceae_Mabea glaziovii_aoo_eoo.csv
Euphorbiaceae_Sapium sellowianum_aoo_eoo.csv
Euphorbiaceae_Sebastiania jacobinensis_aoo_eoo.csv
Euphorbiaceae_Stillingia loranthacea_aoo_eoo.csv
Euphorbiaceae_Stillingia oppositifolia_aoo_eoo.csv
Euphorbiaceae_Tetrorchidium parvulum_aoo_eoo.csv
Fabaceae_Abarema campestris_aoo_eoo.csv
Fabaceae_Abarema langsdorffii_aoo_eoo.csv
Fabaceae_Abarema villosa_aoo_eoo.csv
Fabaceae_Acosmium lentiscifolium_aoo_eoo.csv
Fabaceae_Bauhinia bombaciflora_aoo_eoo.csv
Fabaceae_Bauhinia grandifolia_aoo_eoo.csv
Fabaceae_Bauhinia longipedicellata_aoo_eoo.csv
Fabaceae_Bauhinia ovata_aoo_eoo.csv
Fabaceae_Chamaecrista aspleniifolia_aoo_eoo.csv
Fabaceae_Chamaecrista blanchetii_aoo_eoo.csv
Fabaceae_Chamaecrista brachystachya_aoo_eoo.csv
Fabaceae_Chamaecrista confertiformis_aoo_eoo.csv
Fabaceae_Chamaecrista decora_aoo_eoo.csv
Fabaceae_Chamaecrista duartei_aoo_eoo.csv
Fabaceae_Chamaecrista hedysaroides_aoo_eoo.csv
Fabaceae_Copaifera sabulicola_aoo_eoo.csv
Fabaceae_Dalbergia acuta_aoo_eoo.csv
Fabaceae_Dalbergia decipularis_aoo_eoo.csv
Fabaceae_Dalbergia glaucescens_aoo_eoo.csv
Fabaceae_Erythrina speciosa_aoo_eoo.csv
Fabaceae_Exostyles venusta_aoo_eoo.csv
Fabaceae_Hymenaea altissima_aoo_eoo.csv
Fabaceae_Hymenaea aurea_aoo_eoo.csv
Fabaceae_Hymenaea fariana_aoo_eoo.csv
Fabaceae_Hymenaea longifolia_aoo_eoo.csv
Fabaceae_Hymenolobium alagoanum_aoo_eoo.csv
Fabaceae_Inga congesta_aoo_eoo.csv
Fabaceae_Inga schinifolia_aoo_eoo.csv
Fabaceae_Leptolobium bijugum_aoo_eoo.csv
Fabaceae_Leptolobium brachystachyum_aoo_eoo.csv
Fabaceae_Luetzelburgia purpurea_aoo_eoo.csv
Fabaceae_Machaerium incorruptibile_aoo_eoo.csv
Fabaceae_Machaerium ovalifolium_aoo_eoo.csv
Fabaceae_Macrolobium brevense_aoo_eoo.csv
Fabaceae_Macrolobium latifolium_aoo_eoo.csv
Fabaceae_Macrolobium rigidum_aoo_eoo.csv
Fabaceae_Mimosa adenotricha_aoo_eoo.csv
Fabaceae_Mimosa dichroa_aoo_eoo.csv
Fabaceae_Mimosa laticifera_aoo_eoo.csv
Fabaceae_Mimosa pteridifolia_aoo_eoo.csv
Fabaceae_Mimosa schomburgkii_aoo_eoo.csv
Fabaceae_Mimosa sericantha_aoo_eoo.csv
Fabaceae_Mora paraensis_aoo_eoo.csv
Fabaceae_Ormosia minor_aoo_eoo.csv
Fabaceae_Parapiptadenia blanchetii_aoo_eoo.csv
Fabaceae_Piptadenia macradenia_aoo_eoo.csv
Fabaceae_Poecilanthe grandiflora_aoo_eoo.csv
Fabaceae_Poecilanthe itapuana_aoo_eoo.csv
Fabaceae_Pterodon apparicioi_aoo_eoo.csv
Fabaceae_Senegalia harleyi_aoo_eoo.csv
Fabaceae_Senegalia piauhiensis_aoo_eoo.csv
Fabaceae_Senna reniformis_aoo_eoo.csv
Fabaceae_Staminodianthus rosae_aoo_eoo.csv
Fabaceae_Swartzia arumateuana_aoo_eoo.csv
Fabaceae_Swartzia corrugata_aoo_eoo.csv
Fabaceae_Swartzia longistipitata_aoo_eoo.csv
Fabaceae_Swartzia oblata_aoo_eoo.csv
Fabaceae_Swartzia parvipetala_aoo_eoo.csv
Fabaceae_Swartzia pilulifera_aoo_eoo.csv
Fabaceae_Swartzia polita_aoo_eoo.csv
Fabaceae_Swartzia psilonema_aoo_eoo.csv
Fabaceae_Tachigali goeldiana_aoo_eoo.csv
Fabaceae_Tachigali rubiginosa_aoo_eoo.csv
Gentianaceae_Macrocarpaea glaziovii_aoo_eoo.csv
Humiriaceae_Humiriastrum mussungense_aoo_eoo.csv
Humiriaceae_Vantanea bahiaensis_aoo_eoo.csv
Hypericaceae_Vismia atlantica_aoo_eoo.csv
Hypericaceae_Vismia cauliflora_aoo_eoo.csv
Hypericaceae_Vismia magnoliifolia_aoo_eoo.csv
Hypericaceae_Vismia micrantha_aoo_eoo.csv
Lacistemataceae_Lacistema serrulatum_aoo_eoo.csv
Lamiaceae_Cyanocephalus lippioides_aoo_eoo.csv
Lamiaceae_Vitex mexiae_aoo_eoo.csv
Lamiaceae_Vitex spongiocarpa_aoo_eoo.csv
Lauraceae_Aniba viridis_aoo_eoo.csv
Lauraceae_Beilschmiedia emarginata_aoo_eoo.csv
Lauraceae_Beilschmiedia taubertiana_aoo_eoo.csv
Lauraceae_Cinnamomum glaziovii_aoo_eoo.csv
Lauraceae_Cryptocarya micrantha_aoo_eoo.csv
Lauraceae_Cryptocarya riedeliana_aoo_eoo.csv
Lauraceae_Endlicheria glomerata_aoo_eoo.csv
Lauraceae_Nectandra leucantha_aoo_eoo.csv
Lauraceae_Ocotea arenicola_aoo_eoo.csv
Lauraceae_Ocotea argentea_aoo_eoo.csv
Lauraceae_Ocotea insignis_aoo_eoo.csv
Lauraceae_Ocotea kostermanniana_aoo_eoo.csv
Lauraceae_Ocotea microbotrys_aoo_eoo.csv
Lauraceae_Ocotea montana_aoo_eoo.csv
Lauraceae_Ocotea oppositifolia_aoo_eoo.csv
Lauraceae_Ocotea pluridomatiata_aoo_eoo.csv
Lauraceae_Ocotea pulchra_aoo_eoo.csv
Lauraceae_Ocotea teleiandra_aoo_eoo.csv
Lauraceae_Ocotea tenuiflora_aoo_eoo.csv
Lauraceae_Ocotea urbaniana_aoo_eoo.csv
Lauraceae_Ocotea venulosa_aoo_eoo.csv
Lauraceae_Ocotea villosa_aoo_eoo.csv
Lauraceae_Persea alba_aoo_eoo.csv
Lauraceae_Persea aurata_aoo_eoo.csv
Lauraceae_Persea caesia_aoo_eoo.csv
Malpighiaceae_Byrsonima myricifolia_aoo_eoo.csv
Malpighiaceae_Byrsonima nitidifolia_aoo_eoo.csv
Malpighiaceae_Byrsonima perseifolia_aoo_eoo.csv
Malpighiaceae_Heteropterys sincorensis_aoo_eoo.csv
Malpighiaceae_Ptilochaeta glabra_aoo_eoo.csv
Malvaceae_Ceiba crispiflora_aoo_eoo.csv
Malvaceae_Ceiba glaziovii_aoo_eoo.csv
Malvaceae_Eriotheca pentaphylla_aoo_eoo.csv
Malvaceae_Helicteres macropetala_aoo_eoo.csv
Malvaceae_Mollia burchellii_aoo_eoo.csv
Malvaceae_Pavonia calyculosa_aoo_eoo.csv
Malvaceae_Pavonia makoyana_aoo_eoo.csv
Malvaceae_Pseudobombax petropolitanum_aoo_eoo.csv
Malvaceae_Pterygota brasiliensis_aoo_eoo.csv
Malvaceae_Quararibea ochrocalyx_aoo_eoo.csv
Melastomataceae_Behuria insignis_aoo_eoo.csv
Melastomataceae_Huberia consimilis_aoo_eoo.csv
Melastomataceae_Huberia glazioviana_aoo_eoo.csv
Melastomataceae_Lavoisiera nervulosa_aoo_eoo.csv
Melastomataceae_Leandra cogniauxii_aoo_eoo.csv
Melastomataceae_Leandra fallacissima_aoo_eoo.csv
Melastomataceae_Leandra lancifolia_aoo_eoo.csv
Melastomataceae_Leandra pennipilis_aoo_eoo.csv
Melastomataceae_Leandra pilonensis_aoo_eoo.csv
Melastomataceae_Leandra umbellata_aoo_eoo.csv
Melastomataceae_Macairea theresiae_aoo_eoo.csv
Melastomataceae_Meriania calophylla_aoo_eoo.csv
Melastomataceae_Meriania claussenii_aoo_eoo.csv
Melastomataceae_Meriania paniculata_aoo_eoo.csv
Melastomataceae_Merianthera sipolisii_aoo_eoo.csv
Melastomataceae_Miconia brunnea_aoo_eoo.csv
Melastomataceae_Miconia formosa_aoo_eoo.csv
Melastomataceae_Miconia goldenbergiana_aoo_eoo.csv
Melastomataceae_Miconia irwinii_aoo_eoo.csv
Melastomataceae_Miconia nordestina_aoo_eoo.csv
Melastomataceae_Miconia tentaculifera_aoo_eoo.csv
Melastomataceae_Miconia urophylla_aoo_eoo.csv
Melastomataceae_Mouriri arborea_aoo_eoo.csv
Melastomataceae_Mouriri cearensis_aoo_eoo.csv
Melastomataceae_Mouriri chamissoana_aoo_eoo.csv
Melastomataceae_Pleroma candolleanum_aoo_eoo.csv
Melastomataceae_Pleroma fissinervium_aoo_eoo.csv
Melastomataceae_Tibouchina barnebyana_aoo_eoo.csv
Melastomataceae_Tibouchina canescens_aoo_eoo.csv
Melastomataceae_Tibouchina francavillana_aoo_eoo.csv
Melastomataceae_Tibouchina regnellii_aoo_eoo.csv
Melastomataceae_Trembleya pentagona_aoo_eoo.csv
Meliaceae_Guarea blanchetii_aoo_eoo.csv
Metteniusaceae_Emmotum harleyi_aoo_eoo.csv
Monimiaceae_Macropeplus dentatus_aoo_eoo.csv
Monimiaceae_Mollinedia longifolia_aoo_eoo.csv
Moraceae_Ficus holosericea_aoo_eoo.csv
Moraceae_Ficus lagoensis_aoo_eoo.csv
Moraceae_Ficus organensis_aoo_eoo.csv
Myristicaceae_Virola officinalis_aoo_eoo.csv
Myrtaceae_Calyptranthes grandiflora_aoo_eoo.csv
Myrtaceae_Calyptranthes obovata_aoo_eoo.csv
Myrtaceae_Calyptranthes rufa_aoo_eoo.csv
Myrtaceae_Calyptranthes spruceana_aoo_eoo.csv
Myrtaceae_Campomanesia simulans_aoo_eoo.csv
Myrtaceae_Curitiba prismatica_aoo_eoo.csv
Myrtaceae_Eugenia acutata_aoo_eoo.csv
Myrtaceae_Eugenia arenaria_aoo_eoo.csv
Myrtaceae_Eugenia bacopari_aoo_eoo.csv
Myrtaceae_Eugenia beaurepairiana_aoo_eoo.csv
Myrtaceae_Eugenia capitulifera_aoo_eoo.csv
Myrtaceae_Eugenia capparidifolia_aoo_eoo.csv
Myrtaceae_Eugenia chlorophylla_aoo_eoo.csv
Myrtaceae_Eugenia dichroma_aoo_eoo.csv
Myrtaceae_Eugenia ellipsoidea_aoo_eoo.csv
Myrtaceae_Eugenia expansa_aoo_eoo.csv
Myrtaceae_Eugenia flamingensis_aoo_eoo.csv
